.btn {
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.btn:hover:not(:disabled) {
    background: var(--primary-color-hover);
}

.btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.btn.loading {
    background-color: var(--primary-color-hover);
}

.spinner {
    width: 18px;
    height: 18px;
    border: 0.11rem solid transparent;
    border-top: 0.11rem solid var(--secondary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.secondary {
    background: transparent;
    color: var(--primary-color);
    border: 0.11rem solid var(--primary-color);
}

.secondary:hover:not(:disabled) {
    background-color: transparent;
    color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
