.deck {
    padding: 1.3rem !important;
    display: grid;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
}

.subject {
    width: fit-content;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    background-color: var(--border-color);
}

.cards {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--text-secondary-color);
}

.toDo {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    display: grid;
    place-items: center;
    width: 1.4rem;
    height: 1.4rem;
    background: var(--border-color);
    color: var(--text-primary-color);
    border-radius: 50%;
    font-size: 0.6rem;
}

.nextReview {
    font-size: 0.8rem;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
