.container {
    display: flex;
}

.mainContainer {
    width: 100%;
    padding: 2rem 5%;
    color: var(--text-primary-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.mainContainer h1,
.mainContainer h2 {
    margin-top: 1rem;
    color: var(--text-primary-color);
    line-height: 1.6;
}

.mainContainer p,
.mainContainer li {
    color: var(--text-secondary-color);
    text-align: justify;
    line-height: 1.6;
}

.mainContainer strong {
    color: var(--text-primary-color);
    font-weight: 600;
}

.mainContainer ul, 
.mainContainer ol {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.mainContainer a {
    font-weight: 600;
    color: var(--text-primary-color);
}
