.card {
    background: var(--secondary-color);
    padding: 2rem;
    transition: all 0.3s ease;
    border: 2px solid var(--border-color);
    border-radius: 0.2rem;
    box-shadow: -4px 4px 0px var(--border-color);
}

.card:hover {
    transform: translateY(-4px);
}