.card {
    background: var(--secondary-color);
    padding: 2rem;
    transition: all 0.3s ease;
    border: 2px solid var(--border-color);
    border-radius: 0.2rem;
    
    /* --- MUDANÇA AQUI --- */
    /* Trocamos a variável para que ela possa ser controlada no index.css */
    box-shadow: -4px 4px 0px var(--hard-shadow-color);
}

.card:hover {
    transform: translateY(-4px);
}