@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #01a5e4;
    --primary-color-hover: #01a5e499;
    --secondary-color: #fff;
    --bg-color: #f9f9f9;
    --text-primary-color: #333;
    --text-secondary-color: #8a8a8a;
    --fade-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: rgba(0, 0, 0, 0.212);
    --error-color: #ffc0c0;
    --error-color-text: #881010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    scroll-behavior: smooth;
}
