.header {
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 5%;
    z-index: 5;
    box-shadow: 0 0 30px var(--shadow-color);
}

.header a {
    color: var(--text-primary-color);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.4rem;
}

.header h1 {
    font-weight: 500;
}

.mainContainer {
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.progressBar {
    width: 100%;
    height: 25px;
    background: var(--shadow-color);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 100%;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color-hover)
    );
    border-radius: 2rem;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 0.8rem;
}

.card {
    width: 100%;
    background: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 0.2rem;
    box-shadow: -4px 4px 0px var(--border-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.question {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
}

.answer {
    background-color: var(--shadow-color);
    width: 100%;
    height: 200px;
    border-radius: 0.2rem;
    cursor: pointer;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.4s ease;
}

.face {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
}

.front {
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    cursor: default;
}

.back {
    display: grid;
    place-items: center;
    backface-visibility: hidden;
}

.back p {
    font-weight: 500;
}

.showAnswer {
    transform: rotateY(180deg);
}

.feedback {
    width: 100%;
    background: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 0.2rem;
    box-shadow: -4px 4px 0px var(--border-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.flexContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexContainer span {
    font-weight: 500;
    color: var(--text-secondary-color);
}

.difficulty {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.4rem;
}

.difficulty li {
    background: var(--text-primary-color);
    color: var(--secondary-color);
    display: grid;
    place-items: center;
    padding: 0.6rem;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.difficulty li:hover {
    transform: translateY(-4px);
}

.difficulty li.selected {
    transform: translateY(-4px);
    background: var(--text-secondary-color);
}

.navBtn {
    border: none;
    background: none;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
